.container
  %h3
    Editing Order No #{@order.id}
  %hr/
  - if @order.errors.any?
    .alert.alert-danger
      %h2
        = pluralize(@order.errors.count, "error")
        prohibited this user from being saved:
      %ul
        = @order.errors.full_messages.each do |message|
          %li= message
  = form_for @order do |f|
    .row
      .col-xs-12.form-group
        = f.label :subtotal, class: "control-label"
        = f.number_field :subtotal, class: "form-control"
    .row
      .col-xs-12.form-group
        = f.label :total
        = f.number_field :total, class: "form-control"
    .row
      .col-xs-12.form-group
        = f.label :status
        = f.select :status, options_for_select(@statuses.collect { |s| [s[0].humanize, s[0]] }, selected: @order.status), {} , class: "form-control"
    .row
      .col-xs-12.form-group
        = f.submit "Save", class: "btn btn-primary"
