.row
  .col-xs-8
    %h4
      = link_to product.name, product
      = image_tag(product.image_url, width: 150) if product.image.present?

  .col-xs-4
    = form_for order_item, remote: true do |f|
      %h4.text-right
        Unit Price:
        %span{ style: "color:green" }= number_to_currency order_item.unit_price
        .row
          .col-xs-4
            = f.number_field :quantity, value: 1, class: "form-control", min: 1
            .input-group-btn
              = f.hidden_field :product_id, value: product.id
              = f.submit "Add to Cart", class: "btn btn-primary"
