%h1 All products
%table
  %tr
    %th.name Name
    %th.image Image
    %th.descript Description
    %th.price Price

  - @products.each do |product|
    %tr
      %td= link_to product.name, product
      %td= image_tag(product.image_url, width: 150) if product.image.present?
      %td= product.description
      %td= product.price
%br
#navi
  = link_to "Back to main page", root_path
