.product
  %h1
    = @product.name
  .product-img
    = image_tag(@product.image_url, width: 300) if @product.image.present?
  .product-info
    %h4 Description
    = @product.description
    %h4 Category
    = @product.category.name
    %br
    %h6 View more from this #{link_to "category", categories_path}
    %h4 Price
    = number_to_currency @product.price
%p.text-center
  Please #{link_to "go back", products_path} to add this product to your cart.
