!!!
%html(lang="en")
  %head
    %title Arcadian Octo Duck Online Shopping
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Amatic+SC"
    = stylesheet_link_tag "application", media: "all", 'data-turbolinks-track' => true
    %link{ href: "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel: "stylesheet"}
    %script{ src: "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    %script{ src: "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"}
    = csrf_meta_tags
    = javascript_include_tag :application

  %body
    .container
      .row
        .col-xs-6.text-right
          %h1.cart-text= render 'layouts/cart_text'
    #search
    = render 'layouts/search_form'
    #name
      #login
      = render 'layouts/login'
    = yield
    / #footer
    / = render :partial => 'footer'
