!!!
%html(lang="en" ng-app="Home")
  %head
    %title Arcadian Octo Duck online shop
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Amatic+SC"
    = stylesheet_link_tag "application", media: "all", 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    #name
      #login
        =# render :partial => 'login'
      #logo
        %h1 ARCADIAN OCTODUCK SHOP
        %img{ src: "http://i90.photobucket.com/albums/k251/netuza/Muju/Works/OctoDuckCROP.jpg", width: 500 }
    = yield
    = page_specific_js = "#{params[:controller]}_#{params[:action]}"
    = javascript_include_tag page_specific_js if Rails.application.assets.find_asset page_specific_js
    = stylesheet_link_tag  page_specific_js if Rails.application.assets.find_asset page_specific_js
    #footer
      =# render :partial => 'footer'
